<section class="contact" id="contact">
    <div class="container">
        <h2 class="section-promo portfolio__title">CONTACT</h2>
        <div class="about__text">
            <p class="text">
                Nulla in velit a metus rhoncus tempus. Nulla congue nulla vel sem varius finibus. Sed ornare sit amet lorem sed viverra. In vel urna quis libero viverra facilisis ut ac est.
            </p>
            <div class="separator">
                <img src="../img/separator.png" alt="">
            </div>
        </div>
        <div class="contact__form">
            <form action="mail.php" method="POST">
                <div class="contact__input">
                    <input type="text" name="name" placeholder="ENTER YOUR NAME*">
                </div>
                <div class="contact__input">
                    <input type="text" name="email" placeholder="ENTER YOUR EMAIL*">
                </div>
                <div class="contact__input">
                    <input type="text" name="phone" placeholder="PHONE NUMBER">
                </div>
                <div class="contact__input">
                    <textarea name="message" placeholder="YOUR MESSAGE*"></textarea>
                </div>
                <div class="contact__input">
                    <button class="js-send-data">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</section>