<section class="portfolio" id="portfolio">
    <div class="portfolio__inner">
        <div class="portfolio__top">
            <img src="../img/portfolio_bg.png" alt="">
            <h2 class="section-promo portfolio__title">PORTFOLIO</h2>
        </div>
        <div class="portfolio__togglers-container">
            <div class="portfolio__togglers">
                <div class="portfolio__toggler portfolio__toggler--active" data-filter="*">All</div>
                <div class="portfolio__toggler" data-filter=".web">Web</div>
                <div class="portfolio__toggler" data-filter=".design">Design</div>
                <div class="portfolio__toggler" data-filter=".graphic">Graphic</div>
                <div class="portfolio__underline"></div>
            </div>
        </div>
        <div class="portfolio__contents">
            <div class="portfolio__content">
                <div class="portfolio__item portfolio__item_active" data-content=".web">
                    <div class="portfolio__item-bg">
                        <img src="../img/portfolio_pic.jpg" alt="">
                    </div>
                    <div class="portfolio__data">
                        <h3 class="portfolio__item-title">Title</h3>
                        <p class="portfolio__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
                        <div class="portfolio__item-links">
                            <a href="#" class="portfolio__item-link">DEMO</a>
                            <a href="#" class="portfolio__item-link">GIT</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio__item portfolio__item_active" data-content=".design">
                    <div class="portfolio__item-bg">
                        <img src="../img/portfolio_pic.jpg" alt="">
                    </div>
                    <div class="portfolio__data">
                        <h3 class="portfolio__item-title">Title</h3>
                        <p class="portfolio__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
                        <div class="portfolio__item-links">
                            <a href="#" class="portfolio__item-link">DEMO</a>
                            <a href="#" class="portfolio__item-link">GIT</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio__item portfolio__item_active" data-content=".graphic">
                    <div class="portfolio__item-bg">
                        <img src="../img/portfolio_pic.jpg" alt="">
                    </div>
                    <div class="portfolio__data">
                        <h3 class="portfolio__item-title">Title</h3>
                        <p class="portfolio__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
                        <div class="portfolio__item-links">
                            <a href="#" class="portfolio__item-link">DEMO</a>
                            <a href="#" class="portfolio__item-link">GIT</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio__item portfolio__item_active" data-content=".web">
                    <div class="portfolio__item-bg">
                        <img src="../img/portfolio_pic.jpg" alt="">
                    </div>
                    <div class="portfolio__data">
                        <h3 class="portfolio__item-title">Title</h3>
                        <p class="portfolio__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
                        <div class="portfolio__item-links">
                            <a href="#" class="portfolio__item-link">DEMO</a>
                            <a href="#" class="portfolio__item-link">GIT</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio__item portfolio__item_active" data-content=".web">
                    <div class="portfolio__item-bg">
                        <img src="../img/portfolio_pic.jpg" alt="">
                    </div>
                    <div class="portfolio__data">
                        <h3 class="portfolio__item-title">Title</h3>
                        <p class="portfolio__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quidem.</p>
                        <div class="portfolio__item-links">
                            <a href="#" class="portfolio__item-link">DEMO</a>
                            <a href="#" class="portfolio__item-link">GIT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio__footer">
            <div class="portfolio__footer-title">And many more to come!</div>
        </div>
    </div>
</section>